In [24]:
import pandas as pd
from sklearn import preprocessing
import numpy as np

In [25]:
data = pd.read_csv('C:\\Users\\jatin\\Desktop\\811 Project\\Music\\data.csv')

In [26]:
data.head()

  asciiname  population                                           location
0   Toronto     2600000   https://www.google.com/maps/?q=43.70011,-79.4163
1  Montreal     1600000  https://www.google.com/maps/?q=45.50884,-73.58781
2   Calgary     1019942  https://www.google.com/maps/?q=51.05011,-114.0...
3    Ottawa      812129  https://www.google.com/maps/?q=45.41117,-75.69812
4  Edmonton      712391  https://www.google.com/maps/?q=53.55014,-113.4...

In [27]:
df = pd.DataFrame(data)
df.head()

  asciiname  population                                           location
0   Toronto     2600000   https://www.google.com/maps/?q=43.70011,-79.4163
1  Montreal     1600000  https://www.google.com/maps/?q=45.50884,-73.58781
2   Calgary     1019942  https://www.google.com/maps/?q=51.05011,-114.0...
3    Ottawa      812129  https://www.google.com/maps/?q=45.41117,-75.69812
4  Edmonton      712391  https://www.google.com/maps/?q=53.55014,-113.4...

In [23]:
values = df.iloc[:,1:2]

     population
0       2600000
1       1600000
2       1019942
3        812129
4        712391
..          ...
395        6099
396        6061
397        6055
398        6049
399        6029

[400 rows x 1 columns]

In [35]:
min_max_scaler = preprocessing.MinMaxScaler(feature_range=(50,90))
x_scaled = min_max_scaler.fit_transform(values)
new_df = pd.DataFrame(x_scaled)

In [36]:
print(new_df)

             0
0    90.000000
1    74.579627
2    65.634917
3    62.430363
4    60.892365
..         ...
395  50.001079
396  50.000493
397  50.000401
398  50.000308
399  50.000000

[400 rows x 1 columns]

In [62]:
new_df = np.ceil(new_df)
new_df

        0
0    90.0
1    75.0
2    66.0
3    62.0
4    61.0
..    ...
395  50.0
396  50.0
397  50.0
398  50.0
399  50.0

[400 rows x 1 columns]

In [63]:
convert_list = new_df.values.tolist()
convert_list

[[90.0],
 [75.0],
 [66.0],
 [62.0],
 [61.0],
 [60.0],
 [60.0],
 [60.0],
 [59.0],
 [59.0],
 [58.0],
 [58.0],
 [57.0],
 [56.0],
 [56.0],
 [55.0],
 [55.0],
 [55.0],
 [54.0],
 [54.0],
 [54.0],
 [54.0],
 [54.0],
 [54.0],
 [54.0],
 [54.0],
 [53.0],
 [53.0],
 [53.0],
 [53.0],
 [53.0],
 [53.0],
 [53.0],
 [53.0],
 [53.0],
 [52.0],
 [52.0],
 [52.0],
 [52.0],
 [52.0],
 [52.0],
 [52.0],
 [52.0],
 [52.0],
 [52.0],
 [52.0],
 [52.0],
 [52.0],
 [52.0],
 [52.0],
 [52.0],
 [52.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [51.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0],
 [50.0]]

In [65]:
 new_list = []
for i in convert_list:
    for j in i:
        new_list.append(j)
print( new_list)

[90.0, 75.0, 66.0, 62.0, 61.0, 60.0, 60.0, 60.0, 59.0, 59.0, 58.0, 58.0, 57.0, 56.0, 56.0, 55.0, 55.0, 55.0, 54.0, 54.0, 54.0, 54.0, 54.0, 54.0, 54.0, 54.0, 53.0, 53.0, 53.0, 53.0, 53.0, 53.0, 53.0, 53.0, 53.0, 52.0, 52.0, 52.0, 52.0, 52.0, 52.0, 52.0, 52.0, 52.0, 52.0, 52.0, 52.0, 52.0, 52.0, 52.0, 52.0, 52.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0]

In [66]:
new_int_list = [int(i) for i in new_list]

In [67]:
new_int_list

[90,
 75,
 66,
 62,
 61,
 60,
 60,
 60,
 59,
 59,
 58,
 58,
 57,
 56,
 56,
 55,
 55,
 55,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 54,
 53,
 53,
 53,
 53,
 53,
 53,
 53,
 53,
 53,
 52,
 52,
 52,
 52,
 52,
 52,
 52,
 52,
 52,
 52,
 52,
 52,
 52,
 52,
 52,
 52,
 52,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 51,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50,
 50]